<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ pageTitle }}</title>
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap" rel="stylesheet">
        <!-- TODO -- separate imports for different files -->
        <link href="https://fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Chonburi&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
    </head>

    <body class="{{ pageTitle }}">
        <script>
          if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
              if (!user) {
                window.netlifyIdentity.on("login", () => {
                  document.location.href = "/admin/";
                });
              }
            });
          }
        </script>

        {{ content }}
    </body>
</html>

