---
layout: layout.liquid
pageTitle: Resume
---

{% nav page.url%}

<hr />

<div class="contact">
    <div class="name">
        Jessica GZ Gonzales
    </div>
    <div class="phone">
        (424) 389 6692
    </div>
    <div class="mail">
        <a href="mailto:jessica.gz.gonzales@gmail.com">
            Jessica.GZ.Gonzales@gmail.com
        </a> 
    </div>
</div>




<ul class="jobs">
    {% for job in collections.jobo %}
        <li class="job {% cycle 'even', 'odd' %}">
            <div class="date-range">{{ job.data.dates }}</div>
            <div class="co-title">{{ job.data.coName }}</div>
            {% if job.data.stuffIDid.size > 0%}
                <span>—</span>
                <ul class="stuff-i-did">
                    {% for stuff in job.data.stuffIDid %}
                        <li>{{ stuff }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>
