body {
    margin: 0;
}

body.main {
    margin: 8px;
}

.main {
    // background-color: #83706f;
}

$colors: darkslateblue mediumorchid seagreen steelblue;

.video {
    @each $color in $colors {
        &.#{$color} {
            background: $color;
        }
    }
}

