body {
    margin: 0;
    a {
        text-decoration: none;
    }
}

$colors: ("brown", #7b3a13), ("mediumorchid", mediumorchid),
    ("seagreen", seagreen), ("steelblue", steelblue);

.video {
    @each $color in $colors {
        &.#{nth($color,1)} {
            background-color: nth($color,2);
        }
    }
}

.videos {
    // margin-top: 4.5em;
    margin-top: -1.3em;
}

ul.nav {
    list-style: none;
    text-align: right;
    // position: fixed;
    width: 100%;
    background-color: white;
    margin: 0;
    top: 0;
    padding: 1em;

    li {
        display: inline;
        margin-right: 2em;
    }
}
