body {
    // background-color: beige;
    font-family: sans-serif;

    background-color: #dd9ef7;

    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    margin: 0;

    // &.index {
        // background: url('/images/fence-guy.png') no-repeat center center fixed;
        // -webkit-background-size: cover;
        // -moz-background-size: cover;
        // -o-background-size: cover;
        // background-size: cover;
    // }


    // --------------- main nav -------------------
    // on index page
    %plain-list {
        padding: 0;
        list-style: none;
    }

    .main-nav {
        display: flex;
        // padding-left: 10vw;
        // padding-top: 20vh;
        & > ul {
            @extend %plain-list;
            margin-top: 0;
            margin-bottom: 0;

            display: grid;
            width: 100%;
            grid-gap: 0.5em;
            grid-template-rows: 70vh 30vh;
            grid-template-columns: 1fr 1fr;

            // display: grid;
            // grid-gap: 0.5em;
            // grid-template-rows: 70vh 30vh;
            // grid-template-columns: 50vw 50vw;

            li {
                font-size: 3em;
                margin: 0;
                display: inline-block;
                background-color: black;
                padding: 1em;
                text-align: center;
                writing-mode: vertical-lr;
                font-size: 7vh;
                padding-left: 40%;

                &:last-child {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    padding: 0.5em;
                    padding-left: 40%;
                    writing-mode: initial;
                    padding-left: 0;
                    padding-top: 1.5em;
                }
            }
        }
    }
    // -------------------------------------------



    &.Resume {
        margin-bottom: 6em;
        hr {
            margin: 0;
        }
    }
}

button {
    cursor: pointer;
}

button.clicker {
    background-color: transparent;
    border: none;
}

#main-links {
    display: none;

    a:hover {
        text-decoration: underline;
    }

    ul {
        list-style: none;
    }

    &.is-visible {
        display: flex;
        justify-content: center;
        top: 0;
        width: 100vw;
        position: fixed;
        z-index: 999;
        height: 100vh;
        background-color: #d86400a1;
        font-size: 2em;
    }
}

$colors: ("brown", #7b3a13), ("mediumorchid", mediumorchid),
    ("seagreen", seagreen), ("steelblue", steelblue);

.name {
    // font-family: 'Chonburi', serif;
    font-size: 2em;
    margin: 1em;
    margin-bottom: 0;
    // white-space: pre;
}

.videos {
    margin-top: 90vh;
}

.video {
    padding: 1em;

    font-family: 'Jost', sans-serif;
    color: mediumvioletred;
    text-shadow: 3px 3px 3px black;
    font-size: 1.2em;

    &.steelblue {
        background: rgba(70, 130, 180, 0.4);
    }

    &.brown {
        background: rgba(139, 69, 19, 0.4);
    }

    &.mediumorchid {
        background: rgba(186, 85, 211, 0.4);
    }

    &.seagreen {
        background: rgba(46, 139, 87, 0.4);
    }
}

.vid-description {
    text-align: right;
    width: 600px;
}

ul.nav {
    position: fixed;
    width: 100%;
    list-style: none;
    // background: rgba(0, 0, 0, 0.13);
    background: #f0f8ff2b;
    margin: 0;
    // top: 0;
    padding: 0.3em;
    font-size: 2em!important;
    display: flex;
    justify-content: space-between;

    & button {
        font-size: inherit;
        &:focus {
            outline: none;
        }
    }

    li {
        display: inline;
        a {
            margin-right: 2em;
        }
    }
}

.contact {
    border: 1px solid;
    background-color: white;
    display: inline-block;
    padding: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: 2em;

    div {
        border-bottom: 1px solid;
        margin-bottom: 0.5em;
    }
}

.jobs {
    list-style: none;
    font-family: 'Jost', sans-serif;
    text-shadow: 1px 1px 1px magenta;
    font-size: 1.2em;

    .job {
        margin-bottom: 2em;
    }
}

.co-title {
    display: inline-block;

    // &:after {
    //     content: " – "
    // }
}

.stuff-i-did {
    padding: 0;
    display: inline;

    li {
        display: inline-block;

        &:after {
            content: ", ";
        }

        &:last-child:after {
            content: "";
        }
    }
}

.music-videos, .animation, .editing {
    position: relative;
    top: 4em;
}

// nav links
.resume.active {
    background: radial-gradient(circle 20px, red, transparent)
}

.house.active {
    background: linear-gradient(transparent, 92%, cyan);
}
