---
layout: layout.liquid
pageTitle: Welcome to the blog
---

<!-- {% for post in collections.posts %} -->
<!--     <h2><a href="{{ post.url }}">{{ post.data.pageTitle }}</a></h2> -->
<!--     <em>{{ post.date | date: "%Y-%m-%d" }}</em> -->
<!-- {% endfor %} -->

{% assign colors = "" | split " " %}

{% for vid in collections.videos %}
    <div class="video {% cycle 'brown', 'mediumorchid', 'seagreen', 'steelblue' %}">
        <h2>video</h2>
        <p>{{ vid.data.title }}</p>
        {{ vid.data.embedCode }}
    </div>
{% endfor %}

